body {
    background-image:linear-gradient(90deg, rgb(131, 58, 180) 0%, rgba(213,38,78,1) 36%, rgba(234,113,73,1) 68%, rgba(246,157,33,0.9976584383753502) 100%);
}

html, body {
    font-family: monospace;
}

.container {
    display: grid;
    padding-bottom: 0%;
}

header {
    font-size: 3rem;
    font-style: italic;
}

button {
    background-color: rgba(246,157,33,0.9976584383753502);
    font-family: inherit;
    border-radius: 5px;
    border: 0px;
}

button:hover {
    background-color: rgba(202, 132, 34, 0.998);
}

a {
    text-decoration: none;
    color: rgb(70, 0, 119);
    font-size: large;
}

#buttons,
header,
div,
a {
    padding: 2rem;
    justify-self: center;
}

.prompts {
    position: relative;
    bottom: 0;
    padding-bottom: 0px;
    justify-self: baseline;
}

#portfolio {
    color:rgba(246,157,33,0.9976584383753502);
}

a:hover, #portfolio:hover {
    color: whitesmoke;
}