body {
    background-color: blueviolet;
}

html {
    height: 100%;
    font-family: monospace;
}

.container {
    display: grid;
}

header {
    font-size: 3rem;
    font-style: italic;
}

button {
    background-color: yellow;
}


a {
    text-decoration: none;
    color: navy;
    font-size: large;
}

a:hover {
    color: whitesmoke;
}

#buttons,
header,
div,
a {
    padding: 2rem;
    justify-self: center;
}

.prompts {
    position: absolute;
    bottom: 20px;
    justify-self: baseline;
}

#portfolio {
    color:rgb(101, 245, 66);
}